<h1 class="animated fadeIn fast">Sobre comic.</h1>
<hr>
<p class="animated fadeIn">
    Es un medio visual de narración verbo-icónica que comunica historias de uno o varios personajes. Se trata de una “narración secuencial mediante imágenes fijas” (Castillo, 2004: 248). Es decir, mediante una sucesión de imágenes (compuestas por caricaturas
    dibujadas) que se complementan con textos. Es un producto cultural que busca persuadir a grandes públicos y posee sus códigos propios. El cómic o historieta (nombre que se le da en México) es un producto sociolingüístico. La historieta es un sistema
    semiótico, que tiene una denotación (habla e imagen) y una connotación. La función ideológica de este medio ha sido poco analizada, pero el trabajo hasta ahora nos permite afirmar que el cómic es un aparato ideológico.
</p>